{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ seminar.speaker.name }}{% endblock %}
{% block content %}
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="clearfix">
                    <div class="col-xs-12 col-md-4">
                        {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=None %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-session right">
                            <h3 class="session-title">{{ seminar.title }}</h3>
                            {% if seminar.venue %}
                            <h4>Location</h4>
                            {{ seminar.venue.address }}
                            {% endif %}
                            {% if seminar.start_time %}
                            <h4>Date and Time</h4>
                            {% date_string seminar.start_time %}
                            <br>{% time_string seminar.start_time %} - {% time_string seminar.end_time %}
                            {% endif %}

                            <h4>Abstract</h4>
                            {{ seminar.abstract|linebreaksbr }}
                            <h4>Bio</h4>
                            {{ seminar.speaker.bio|linebreaksbr }}
                            <div>
                                <br/>
                                {% if seminar.material %}
                                    <h4>Material</h4>
                                    {% if seminar.material.slides %}
                                        <a class="btn btn-warning" href="{{ seminar.material.slides.url }}">Slides</a>
                                    {% endif %}
                                    {% if seminar.material.video_url %}
                                        <a class="btn btn-danger" href="{{ seminar.material.video_url }}">Video</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div><!-- Session end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 1 end -->
            </div><!-- Speaker row 1 -->

        </div><!-- Conatiner end -->
    </section><!-- Main container end -->
{% endblock %}
