{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ workshop.speaker.name }}{% endblock %}
{% block content %}
    <section id="main-container" class="main-container">
        <div style="margin-top: -15rem; height: 15rem;" class="diagonal blue-gradient"></div>
        
        <div class="container-fluid px-5 mt-5 diagonal" style="background: white;">
            <div class="container">
            <div class="row">
                <div class="col-sm-4 m-0"><img style="border-radius: 5px; width: 100%" src="{% get_media_prefix %}{{workshop.speaker.picture}}" alt=""/>
                </div>
                <div class="pl-sm-5 col mt-4 d-flex align-items-center"> 
                    <div class="row">
                        <div class="col">
                            <h4>{{workshop.speaker}}</h4>
                            <h6>{{workshop.speaker.degree}}</h6>
                            <h3 class="session-title">{{ workshop.title }}</h3>
                            {% if workshop.venue %}
                            <div>
                                <i class="fa fa-map-marker">&nbsp;</i>
                                {{ workshop.venue.address }}                            
                            </div>
                            {% endif %}
                            {% if workshop.start_time %}
                            <div>
                            <i class="fa fa-clock-o">&nbsp;</i>
                            {% date_string workshop.start_time %}
                            </div>
                            <div>
                            <i class="fa fa-calendar">&nbsp;</i>
                            {% time_string workshop.start_time %} - {% time_string workshop.end_time %}
                            </div>{% endif %}
                            {% if workshop.registration_link %}
                            <a href="{{ workshop.registration_link }}" class="mt-4 btn btn-primary all-speakers">Register Now</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xs-12 col-md-8">
                    <div class="ts-speaker-session right">
                        

                        <h4>Syllabus</h4>
                        <div class="mb-3">
                        {{ workshop.syllabus|linebreaksbr }}
                        </div>
                        <h4>Bio</h4>
                        {{ workshop.speaker.bio|linebreaksbr }}
                        <div class="mb-3">
                            <br/>
                            {% if workshop.material %}
                                <h4>Material</h4>
                                {% if workshop.material.slides %}
                                    <a class="btn btn-warning" href="{{ workshop.material.slides.url }}">Slides</a>
                                {% endif %}
                                {% if workshop.material.video_url %}
                                    <a class="btn btn-danger" href="{{ workshop.material.video_url }}">Video</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if workshop.sponsor %}
                            <h4>Sponsored by</h4>
                            <div class="col-xs-12 col-sm-4 col-md-4">

                                <a href="{{ workshop.sponsor.url }}">

                                    <img class="img-responsive" src="{{ workshop.sponsor.logo.url }}" width="630" height="265" alt=""/>

                                <h5 class="text-center"> {{ workshop.sponsor.name }}</h5>


                                </a>
                            </div>
                        {% endif %}
                    </div><!-- Session end -->
                </div><!-- Col end -->
            </div><!-- Speaker row 1 -->
            </div>
        </div><!-- Conatiner end -->
    </section><!-- Main container end -->
{% endblock %}
