{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}
{% load thumbnail %}
{% block title %}{{ workshop.speaker.name }}{% endblock %}
{% block content %}
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="clearfix">
                    <div class="col-xs-12 col-md-4">
                        {% render_human workshop.speaker subtitle=workshop.speaker.short_bio url=None %}
                        {% if workshop.registration_link %}
                         <p class="text-center">
                            <a href="{{ workshop.registration_link }}" class="btn btn-primary">Register Now</a>
                         </p>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-session right">
                            <h3 class="session-title">{{ workshop.title }}</h3>
                            {% if workshop.venue %}
                            <h4>Location</h4>
                            {{ workshop.venue.address }}
                            {% endif %}
                            {% if workshop.start_time %}
                            <h4>Date and Time</h4>
                            {% date_string workshop.start_time %}
                            <br>{% time_string workshop.start_time %} - {% time_string workshop.end_time %}
                            {% endif %}

                            <h4>Syllabus</h4>
                            {{ workshop.syllabus|linebreaksbr }}
                            <h4>Bio</h4>
                            {{ workshop.speaker.bio|linebreaksbr }}

                            <div>
                                {% if workshop.material %}
                                    <h4>Material</h4>
                                    {% if workshop.material.slides %}
                                        <a class="btn btn-warning" href="{{ workshop.material.slides.url }}">Slides</a>
                                    {% endif %}
                                    {% if workshop.material.video_url %}
                                        <a class="btn btn-danger" href="{{ workshop.material.video_url }}">Video</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% if workshop.sponsor %}
                            <h4>Sponsored by</h4>
                            <div class="col-xs-12 col-sm-4 col-md-4">

                                <a href="{{ workshop.sponsor.url }}">

                                  {% thumbnail workshop.sponsor.logo "530x265" crop="center" as image %}
                                    <img class="img-responsive" src="{{ image.url }}" alt="" />
                                  {% endthumbnail %}

                                <h5 class="text-center"> {{ workshop.sponsor.name }}</h5>


                                </a>
                            </div>
                        {% endif %}
                        </div><!-- Session end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 1 end -->
            </div><!-- Speaker row 1 -->
            {% for sponsorship in wss.main_sponsorships %}



            {% endfor %}
        </div><!-- Conatiner end -->
    </section><!-- Main container end -->
{% endblock %}
