@tailwind base;
@tailwind components;
@tailwind utilities;

.filtered {
  background: theme(colors.primary.DEFAULT);
}

.filtered img {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
}
