@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    @apply list-decimal;
  }

  ol ol {
    @apply list-decimal pl-3;
  }

  ul {
    @apply list-disc;
  }

  ul ul {
    @apply list-circle pl-3;
  }

  ul ul ul {
    @apply list-disc pl-3;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }
}

.filter-primary {
  filter: invert(47%) sepia(14%) saturate(1118%) hue-rotate(253deg)
    brightness(99%) contrast(84%);
}
