.idea/
.vscode
/db-data/
.DS_Store

#front
front/node_modules
# production
front/build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local
front/package-lock.json
