version: '3.3'
services:
  web:
    image: sharifwss/web:$WEB_IMAGE_VERSION
    build: ./backend/
    depends_on:
      - database
    environment:
      - WSS_DB_PASSWORD
      - WSS_SECRET_KEY
      - PAYMENT_MERCHANT
      - PAYMENT_WSDL
      - PAYMENT_URL
      - SENTRY_TOKEN
      - DROPBOX_AUTH_TOKEN
      - WSS_EMAIL_PASSWORD
    networks:
      wss_net:
  database:
    image: postgres:11.10-alpine
    volumes:
      - ./db-first-time-init.sh:/docker-entrypoint-initdb.d/init.sh:ro
      - ./db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD
      - WSS_DB_DATABASE=wss_database
      - WSS_DB_USER=wss_user
      - WSS_DB_PASSWORD
    networks:
      wss_net:
  nginx:
    image: nginx:1.19.4-alpine
    networks:
      wss_net:
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - frontend_vol:/mnt/frontend/:ro
      - $FULLCHAIN_PATH:/etc/ssl-files/fullchain.pem:ro
      - $PRIVKEY_PATH:/etc/ssl-files/privkey.pem:ro
    depends_on:
      - web
      - frontend
  frontend:
    image: sharifwss/frontend:$FRONT_IMAGE_VERSION
    build: ./front/
    volumes:
      - frontend_vol:/mnt/frontend/

networks:
  wss_net:
    driver: bridge

volumes:
  frontend_vol:
