version: '3.3'
services:
  web:
    image: sharifwss/web:$WEB_IMAGE_VERSION
    build: ./backend/
    depends_on:
      - database
    environment:
      - WSS_DB_PASSWORD
      - WSS_SECRET_KEY
    networks:
      wss_net:
  database:
    image: postgres:13.0-alpine
    volumes:
      - ./db-first-time-init.sh:/docker-entrypoint-initdb.d/init.sh:ro
      - ./db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD
      - WSS_DB_DATABASE=wss_database
      - WSS_DB_USER=wss_user
      - WSS_DB_PASSWORD
    networks:
      wss_net:
  nginx:
    image: nginx:1.19.4
    networks:
      wss_net:
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - $FULLCHAIN_PATH:/etc/ssl-files/fullchain.pem:ro
      - $PRIVKEY_PATH:/etc/ssl-files/privkey.pem:ro
    depends_on:
      - web

networks:
  wss_net:
    driver: bridge
