Django==3.1.2
django-extensions==1.9.7
django-3-jet===1.0.8
django-polymorphic==3.0.0
django-simple-history==1.9.0
djangorestframework
olefile==0.44
Pillow==4.3.0
pytz==2017.3
six==1.11.0
sorl-thumbnail==12.6.3
typing==3.6.2
Werkzeug==0.12.2
django-taggit==1.2.0
psycopg2==2.8.4
django-crispy-forms==1.8.1
zeep==3.4.0
requests==2.22.0