{% extends 'wssbase.html' %} {% load static %} {% load date_tags %} {% load
human_tags %} {% load crispy_forms_tags %} {% block title %}Registration{%
endblock %} {% block content %}
<section id="main-container" class="main-container pb-0">
  <div
    style="margin-top: -15rem; height: 15rem"
    class="px-5 diagonal background-shafagh"
  >
    <div
      class="container section-sub-title title-white"
      style="padding-top: 9rem"
    >
      Registration
    </div>
  </div>

  <div
    class="container-fluid px-5 pt-3 mt-5 mb-0 diagonal"
    style="background: white"
  >
    <div class="container pt-5">
      {% if error %}
      <div class="alert alert-danger">
        <strong style="white-space: pre-wrap">{{ error }} </strong>
      </div>
      {% endif %} {% if wss.is_registration_open %}
      <form
        name="myform"
        action="{% url 'wss:payment' wss.year %}"
        method="post"
      >
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 pr-md-5">{{ form.name|as_crispy_field }}</div>
          <div class="col-md-6 pr-md-5">{{ form.family|as_crispy_field }}</div>

          <div class="col-md-6 pr-md-5">
            {{ form.name_english|as_crispy_field }}
          </div>
          <div class="col-md-6 pr-md-5">
            {{ form.family_english|as_crispy_field }}
          </div>
          <div class="col-md-6 pr-md-5">{{ form.age|as_crispy_field }}</div>
          <div class="col-md-6 pr-md-5 d-flex align-items-center">
            {{ form.gender|as_crispy_field }}
          </div>
          <div class="col-md-6 pr-md-5">
            {{ form.national_id|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-5">
            {{ form.phone_number|as_crispy_field }}
          </div>
          <div class="col-md-6 pr-md-5">{{ form.email|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-5">{{ form.country|as_crispy_field }}</div>
          <div class="col-md-6 pr-md-5">{{ form.city|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-5">
            {{ form.university|as_crispy_field }}
          </div>
          <div class="col-md-6 pr-md-5">{{ form.grade|as_crispy_field }}</div>

          <div class="col-md-6 pr-md-5">{{ form.job|as_crispy_field }}</div>
          <div class="col-md-6 pr-md-5 d-flex align-items-center">
            {{ form.is_student|as_crispy_field }}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6 pr-md-5 d-flex w-100">
            {{ form.introduction_method|as_crispy_field }}
          </div>
          <div class="col-12">{{ form.interests|as_crispy_field }}</div>
          <div class="col-md-6">{{ form.question|as_crispy_field }}</div>
          <div class="col-md-6 d-flex align-items-center">
            {{ form.question_other |as_crispy_field }}
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">{{ form.participate_in_wss|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col">{{ form.workshops|as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="g-recaptcha"
              data-sitekey="6Lcj-8cUAAAAADvuAPAzAOHUUplDwqmKMUb9RzAN"
            ></div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          style="background: #007bff"
        >
          Register
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  <!-- Conatiner end -->
</section>
<!-- Main container end -->
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $("#div_id_question_other").hide();
    $("#div_id_gender > div").addClass("form-check-inline").addClass("ml-2");
    $(".form-check").addClass(
      "form-check-inline custom-control custom-control-inline mr-3"
    );
    $(".form-check input").addClass("custom-control-input d-none");
    $(".form-check label").addClass("custom-control-label");
    $("#div_id_interests .form-check label").addClass("my-1");
    $(
      "#div_id_interests .form-check, #div_id_is_student, #div_id_participate_in_wss, #div_id_workshops"
    ).addClass("custom-checkbox");
    $("#div_id_workshops .form-check").removeClass("custom-control-inline");
    $("#div_id_gender .form-check").addClass("custom-radio");
    $("#div_id_introduction_method, #div_id_question_other").addClass("w-100");
    $("#div_id_participate_in_wss").addClass("d-block");
    $("#error_1_id_gender").addClass("ml-2 mb-0");

    $("#div_id_question select").on("change", function () {
      var a = $(this).val();
      if (a === "Others") {
        $("#div_id_question_other").show();
        $("#id_question_other").attr("required", true);
        return;
      } else $("#div_id_question_other").hide();
      $("#id_question_other").attr("required", false);
    });
  });
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
