{% extends 'base.html' %}
{% load static %}
{% load human_tags %}

{% block title %}Moazzam Team{% endblock %}
{% block header %}
       <!-- Header start -->
    <header id="header" class="header header-transparent">
      <div class="container">
         <div class="row">
            <div class="site-nav-inner">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
                  <ul class="nav navbar-nav">
                     <li><a href="{% url 'wss:home'%}">Home</a></li>
                     <!-- Home li end -->
                    <li class="header-ticket">
                    <a href="{% url 'wss:home' %}" class="ticket-btn btn-primary">Visit the last seminar page</a>
                    </li>
                     <!-- Register li end -->
                  </ul>
                  <!--/ Nav ul end -->
               </nav>
               <!--/ Collapse end -->
            </div>
            <!--/ Site nav inner end -->
         </div>
         <!--/ Row end -->
      </div>
      <!--/ Container end -->
   </header>
   <!--/ Header end -->
{% endblock %}
{% block content %}
   <section id="ts-speakers" class="ts-speakers gradient-bg">
      <div class="container">
         <div class="row text-center">
            <h3 class="section-sub-title title-white">Creators of this website</h3>
         </div>

         <!--/ Title row end -->
         <div class="row">
            {% for expert in technical_experts %}
            <div class="col-xs-12 col-sm-6 col-md-3">
               {% render_human expert subtitle=expert.role %}
            </div>
            {% endfor %}
         </div>
         <br>

      <!-- Content row 2 end -->

      <!--/ Container end -->
      </div>
   </section>
   <!-- Creators end -->
{% endblock %}

{% block external_links %}
{% endblock %}