{% load thumbnail %} {% load static %} {% if url %}
<a href="{{ url }}">
  {% endif %}
  <div class="ts-speaker">
    <div class="ts-speaker-image">
      {% if human.picture %} {% thumbnail human.picture "400x400" crop="center"
      as image %}
      <img class="img-responsive" src="{{ image.url }}" alt="" />
      {% endthumbnail %} {% else %}
      <img
        class="img-responsive"
        src="{% static 'images/icons/avatar.jpg' %}"
        alt=""
      />
      {% endif %}
    </div>
    <!--Image end -->
    <div class="ts-speaker-info">
      <h3 class="ts-speaker-name">
        {% if url %}<a href="{{ url }}"
          >{% endif %}{{ human.name }}{% if url %}</a
        >{% endif %}
      </h3>
      {% if subtitle %}
      <p class="ts-speaker-designation">{{ subtitle }}</p>
      {% endif %}
    </div>
    <!-- Info end -->
  </div>
  {% if url %}</a
>{% endif %}
<!-- Speaker end -->
