{% extends 'base.html' %}
{% load static %}
{% load no_wss_tags %}

{% block title %}Page Not Found{% endblock %}

{% block header %}
       <!-- Header start -->
    <header id="header" class="header header-dark">
      <div class="container">
         <div class="row">
            {% no_wss_navbar %}
         </div>
         <!--/ Row end -->
      </div>
      <!--/ Container end -->
   </header>
   <!--/ Header end -->
{% endblock %}


{% block content %}

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">

				<div class="error-page text-center">
					<div class="error-code">
						<h2><strong>404</strong></h2>
					</div>
					<div class="error-message">
						<h3>Oops... Page Not Found!</h3>
					</div>
					<div class="error-body">
						Try using the button below to go to main page of the site <br>
						<a href="index.html" class="btn btn-primary">Back to Home Page</a>
					</div>
				</div>

			</div><!-- Content row -->
		</div><!-- Container end -->
	</section><!-- Main container end -->

{% endblock %}
