{% extends 'base.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block header %}
       <!-- Header start -->
    <header id="header" class="header header-transparent">
      <div class="container">
         <div class="row">
            <div class="site-nav-inner">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
                  <ul class="nav navbar-nav">
                     <li><a href="{% url 'wss:home'%}">Home</a></li>
                     <!-- Home li end -->
                    <li class="header-ticket">
                    <a href="{% url 'wss:home' %}" class="ticket-btn btn-primary">Visit the last seminar page</a>
                    </li>
                     <!-- Register li end -->
                  </ul>
                  <!--/ Nav ul end -->
               </nav>
               <!--/ Collapse end -->
            </div>
            <!--/ Site nav inner end -->
         </div>
         <!--/ Row end -->
      </div>
      <!--/ Container end -->
   </header>
   <!--/ Header end -->
{% endblock %}


{% block content %}
	<div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner4.jpg)">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h2>404</h2>
         </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->


	<section id="main-container" class="main-container">
		<div class="container">

			<div class="row">

				<div class="error-page text-center">
					<div class="error-code">
						<h2><strong>404</strong></h2>
					</div>
					<div class="error-message">
						<h3>Oops... Page Not Found!</h3>
					</div>
					<div class="error-body">
						Try using the button below to go to main page of the site <br>
						<a href="index.html" class="btn btn-primary">Back to Home Page</a>
					</div>
				</div>

			</div><!-- Content row -->
		</div><!-- Container end -->
	</section><!-- Main container end -->

{% endblock %}
