{% extends 'info.html' %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block inside %}
    <div class="row mx-auto">

        <div class="error-page text-center">
            <div class="error-code">
                <h2><strong>404</strong></h2>
            </div>
            <div class="error-message">
                <h3>Oops... Page Not Found!</h3>
            </div>
            <div class="error-body">
                Try using the button below to go to main page of the site <br>
                <a href="index.html" class="btn btn-primary all-speakers">Back to Home Page</a>
            </div>
        </div>
    </div><!-- Content row -->
{% endblock %}
