<!DOCTYPE html>
<html lang="en">
{% load static %} {% load date_tags %} {% load human_tags %}

<head>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TKGNH9W');
    </script>
    <!-- Basic Page Needs ================================================== -->
    <meta charset="utf-8">

    <!-- Mobile Specific Metas ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#000322">
    <!-- Site Title -->
    <title>{% block title %}Winter Seminar Series{% endblock %}</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- CSS
       ================================================== -->
    <!-- Bootstrap -->
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
    <!--&lt;!&ndash; Template styles&ndash;&gt;-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3.6.9">

    <!--&lt;!&ndash; Responsive styles&ndash;&gt;-->
    <link rel="stylesheet" href="{% static 'css/responsive.min.css' %}?v=1.5.4">
    <!--&lt;!&ndash; FontAwesome &ndash;&gt;-->
    
    {% comment %} <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"> {% endcomment %}
    <!--&lt;!&ndash; Animation &ndash;&gt;-->
    {% comment %} <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!--&lt;!&ndash; Colorbox &ndash;&gt;-->
    <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">
    <!--&lt;!&ndash; Plyr &ndash;&gt;-->
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}"> {% endcomment %}

    <!-- All css files combined into one sigle file -->
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"> {% endcomment %}
    <!-- Template styles-->
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3.5.3"> {% endcomment %} {% comment %}
    <link rel="stylesheet" href="{% static 'css/cs.css' %}?v=1.4.3"> {% endcomment %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

</head>

<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKGNH9W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% block navbar %}
        <nav class="navbar navbar-expand-xl  navbar-dark w-100">
            <div class="container">
                <a class="navbar-brand" href="{% url 'wss:home' %}">
                    <img src="{% static 'images/logo.png' %}" width="50px" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wss-navbar" aria-controls="wss-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="wss-navbar">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        {% block navbar_items %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'wss:home' %}">Home</a></li>
                            <!-- Home li end -->
                            <li class="header-ticket nav-item">
                                <a href="{% url 'wss:home' %}" class="btn-white btn-primary">Visit the last
                                        seminar page</a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="body-inner">
        
        <!-- Header start -->
        <header id="header" class="header-dark">
            <div class="container">
            </div>
            <!--/ Container end -->
        </header>
        <!--/ Header end -->
        {% block header %} {% endblock %}
        
        {% block content %} {% endblock %}

        <footer id="footer" class="text-white footer text-center diagonal blue-gradient pt-5" style="margin-top:4.75rem">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- Footer menu end -->
                        <div class="footer-logo">
                            <a href="{{ SITE_URL }}"><img src="{% static 'images/WSS-2018-logo-white.png' %}" alt="footer logo" width="100" /></a>
                            <a href="http://ssc.ce.sharif.edu"><img src="{% static 'images/SSC-logo-white.png' %}" alt="footer logo" width="100" /></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="footer-social d-flex justify-content-center justify-content-sm-start">
                                    <ul>
                                        {% for external_link in external_links %}
                                        <li><a href="{{ external_link.url }}"><i class="social-icon text-white fa fa-{{ external_link.type }}"></i></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                            {% if past_years %}
                            <div class="d-flex justify-content-center justify-content-sm-end">
                                <span>Past Seminars</span>
                                <ul class="d-inline ma-0">
                                    {% for past_year in past_years %}
                                    <li class="px-2 d-inline"><a href="{% url 'wss:home' past_year %}">{{ past_year }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Footer social end -->
                        <div class="copyright-info">
                            <span><a href="{% url 'people:creators-list' %}">Website Creators</a><br>
                  Copyright © 2015-2019 WSS. All Rights Reserved.</span>
                        </div>
                        <!-- Copyright info end -->
                    </div>
                    <!-- Content col end -->
                </div>
                <!-- Content row end -->
            </div>
            <!-- Container end -->

            <!--<div id="back-to-top" data-spy="affix" data-offset-top="10" class="header affix"></div>-->
        </footer>
        <!-- Footer end -->
    </div>
    <!-- Template custom -->


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
{% comment %} <script type="text/javascript" src="{% static 'js/countdown.min.js' %}"></script> {% endcomment %}

</html>