<div class="site-nav-inner">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
   </button>
   <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
      <ul class="nav navbar-nav">
         <li><a href="{% url 'wss:home'%}">Home</a></li>
         <!-- Home li end -->
        <li class="header-ticket">
        <a href="{% url 'wss:home' %}" class="ticket-btn btn-primary">Visit the last seminar page</a>
        </li>
      </ul>
      <!--/ Nav ul end -->
   </nav>
   <!--/ Collapse end -->
</div>
<!--/ Site nav inner end -->
