{% extends 'base.html' %}
{% block title %}{{ wss }}{% endblock %}
{% block navbarItems %}
    <li><a href="{% url 'wss:home' wss.year %}">{{ wss }}</a></li>
    <!-- Home li end -->
    <li><a href="{% url 'wss:seminars-list' wss.year %}">Speakers</a></li>
    <!-- Speakers li end -->
    {% if wss.workshops.count %}
        <li><a data-scroll href="{% url 'wss:workshops-list' wss.year %}">Workshops</a></li>
    {% endif %}
    <li><a href="{% url 'wss:schedule' wss.year %}">Schedule</a></li>
    <!-- Schedule li end -->
    <li><a href="{% url 'wss:staff-list' wss.year %}">Staff</a></li>
    <!-- Staff li end -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu menu-center" role="menu">
            <li><a href="{% url 'wss:gallery-image' wss.year %}">Images</a></li>
            <li><a href="{% url 'wss:gallery-video' wss.year %}">Videos</a></li>
        </ul>
    </li>
    <!-- Gallery li end -->
    {% if wss.is_active %}
        {% if wss.registration_link %}
            <li class="header-ticket">
                <a class="ticket-btn btn-primary" href="{{ wss.registration_link }}">Register</a>
            </li>
        {% endif %}
    {% else %}
        <li class="header-ticket">
            <a href="{% url 'wss:home' %}" class="ticket-btn btn-primary">Visit the last seminar page</a>
        </li>
    {% endif %}
{% endblock %}
{% block footerMenuItems %}
    <li><a href="{% url 'wss:home' wss.year %}">Home</a>
    </li>
    {% if wss.is_active %}
        {% if wss.registration_link %}
            <li class="header-ticket">
            <li><a href="{{ wss.registration_link }}">Register</a>
            </li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'wss:home' %}">Visit the last seminar page</a></li>
    {% endif %}
{% endblock %}