#like {
  .ico {
    border-radius: 50%;
    cursor: pointer;
    fill: #757b86;
    transition: .4s;
    width: 35px;
    height: 35px;
  }

  .liked {
    transform: scale(1.2) rotate(360deg);
    // background-color: #C62828;
    padding: .2rem;
    fill: #b40606;
  }
}