{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block content %}
    <section id="main-container" class="main-container pb-0">
        <div style="margin-top: -15rem; height: 15rem;" class="px-2 diagonal background-shafagh">
            <div class="container section-sub-title title-white" style="padding-top: 9rem">
                About WSS
            </div>
        </div>

        <div class="container-fluid px-2 pt-3 mt-5 mb-0 diagonal" style="background: white;">
            <div class="container">
                <!-- Speaker row 1 -->
                <div class="row mt-5">
                    <div class="col">
                        <p>
                            The Winter Seminar Series (WSS) has been built to gather successful Iranians from all around
                            the world and create a professional community in computer science and engineering topics .
                            Over the years, this seminar has grown to become one of the best events in the Sharif
                            University of Technology.
                            WSS is for everyone who works on or interested in any computer science topics and wants to
                            share and express his ideas and research.
                        </p>
                        <p>
                            WSS was born 5 years ago by the Student Scientific Chapter in Sharif University of
                            Technology as a worldwide effort to bring together expert researchers.
                            Now WSS takes place as a two-day event and in each
                            day speakers present their research and ideas. They also share their findings and teach
                            related topics.
                        </p>
                        <p>
                            This event consists of presentations, workshops and also a Poster Session to cover various
                            topics in science and engineering.<!-- Col end -->
                        </p>
                    </div>
                </div><!-- Speaker row 1 -->

                <h2 class="section-title mt-2">Programs</h2>
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row d-flex flex-sm-row-reverse justify-content-start justify-content-sm-between mt-5 mb-md-5">
                            <div class="p-5 p-md-0 col-md-3 d-flex flex-column justify-content-center"><img
                                    style="width:100%; height:auto;" class="my-auto"
                                    src="{% static 'images/seminar.png' %}"></div>
                            <div class="col mr-md-3  d-flex flex-column justify-content-center">
                                <h3>Seminars</h3>
                                <p>Seminars takes place as a two-day event and in each
                                    day speakers present their research and ideas. They also share their findings and
                                    teach related topics.</p>
                            </div>
                        </div>
                        <div class="row d-flex flex-sm-row-reverse justify-content-start justify-content-sm-between mt-5 mb-md-5">
                            <div class="p-5 p-md-0 col-md-3 d-flex flex-column justify-content-center"><img
                                    style="width:100%; height:auto;" class="my-auto"
                                    src="{% static 'images/poster_session.png' %}"></div>
                            <div class="col ml-md-3  d-flex flex-column justify-content-center">
                                <h3>Poster Session</h3>
                                <p>The Poster Session advertises your research.
                                    For the first time, WSS has attempted to create an opportunity for researchers who
                                    have achievements to meet others and engage with them, and build networks.</p>
                            </div>
                        </div>
                        <div class="row d-flex flex-sm-row-reverse justify-content-start justify-content-sm-between mt-md-5">
                            <div class="p-5 p-md-0 col-md-3 d-flex flex-column justify-content-center"><img
                                    style="width:100%; height:auto;" class="my-auto"
                                    src="{% static 'images/workshop.png' %}"></div>
                            <div class="col mr-md-3  d-flex flex-column justify-content-center">
                                <h3>Workshops</h3>
                                <p>Workshops are long form educational opportunities about technology or scientific
                                    subjects presented by the best experts our industry has to offer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Main container end -->
{% endblock %}
