{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load human_tags %}

{% block title %}{{ wss }} gallery{% endblock %}

{% block content %}
	<div id="page-banner-area" class="page-banner-area" style="background-image:url({% static 'images/banner/banner5.jpg' %})">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h2>Gallery</h2>
         </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->
    {% for item in wss.images.all %}
{#        {% thumbnail item.image "300x300" crop="center" as im %}#}
{#            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">#}
{#                        <h2> hi </h2>#}
{#        {% endthumbnail %}#}
        {% thumbnail item.image "400x400" crop="center" as im %}
            <img class="img-responsive" src="{{ im.url }}" alt="" />
        {% endthumbnail %}
            <h2> salam </h2>
    {% endfor %}

	<!--<section id="main-container" class="main-container">-->
		<!--<div class="container">-->
			<!--<div class="row text-center">-->
				<!--<h2 class="section-title">From 2017</h2>-->
				<!--<h3 class="section-sub-title">Photo Gallery</h3>-->
			<!--</div>&lt;!&ndash;/ Title row end &ndash;&gt;-->

			<!--<div class="row">-->
				<!--<div id="gallery">-->
					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery1.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery1.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 1 end &ndash;&gt;-->

					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery2.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery2.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 2 end &ndash;&gt;-->

					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery3.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery3.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 3 end &ndash;&gt;-->

					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery4.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery4.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 4 end &ndash;&gt;-->

					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery5.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery5.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 5 end &ndash;&gt;-->

					<!--<div class="col-md-4 col-sm-6 col-xs-12">-->
						<!--<div class="gallery-container">-->
							<!--<a class="gallery-popup" href="images/gallery/gallery6.jpg">-->
								<!--<img class="img-responsive" src="images/gallery/gallery6.jpg" alt="">-->
								<!--<span class="gallery-icon"><i class="fa fa-search"></i></span>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>&lt;!&ndash; Gallery item 6 end &ndash;&gt;-->

				<!--</div>&lt;!&ndash; Gallery end &ndash;&gt;-->

			<!--</div>&lt;!&ndash; Content row end &ndash;&gt;-->
		<!--</div>&lt;!&ndash; Conatiner end &ndash;&gt;-->
	<!--</section>&lt;!&ndash; Main container end &ndash;&gt;-->

{% endblock %}