<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load date_tags %}
{% load human_tags %}
{% block header %}
   <!-- Header start -->
   <header id="header" class="header header-transparent">
      <div class="container">
         <div class="row">
            <div class="site-nav-inner">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
                  <ul class="nav navbar-nav">
                     <li><a href="{% url 'wss:home' wss.year %}">{{ wss }}</a></li>
                     <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <i class="fa fa-angle-down"></i></a>-->
                        <!--<ul class="dropdown-menu menu-center" role="menu">-->
                           <!--<li><a href="about.html">Why Attend</a></li>-->
                           <!--<li><a href="staffs.html">Staffs</a></li>-->
                           <!--<li><a href="gallery.html">Gallery</a></li>-->
                           <!--<li><a href="sponsors.html">Sponsors</a></li>-->
                        <!--</ul>-->
                     <!--</li>-->
                     <li><a data-scroll href="#ts-intro">About</a></li>
                     <li><a data-scroll href="#ts-speakers">Speakers</a></li>
                     {% if wss.workshops.count %}
                     <li><a data-scroll href="{% url 'wss:workshops-list' wss.year %}">Workshops</a></li>
                     {% endif %}
                     <li><a data-scroll href="#ts-sponsors">Sponsors</a></li>
                     <li><a href="#">Schedule</a></li>
                     <li><a data-scroll href="{% url 'wss:staff-list' wss.year %}">Staff</a></li>
                         {% if wss and wss.is_active %}
                     <li class="header-ticket">
                        <a class="ticket-btn btn-primary" href="{{ wss.registraion_link }}"> Register</a>
                     </li>
                         {% else %}
                                                  <li class="header-ticket">
                             <a href="{% url 'wss:home' %}" class="btn btn-primary">Visit the last seminar page</a>
                                                  </li>
                  {% endif %}
                     <!-- Register li end -->
                  </ul>
                  <!--/ Nav ul end -->
               </nav>
               <!--/ Collapse end -->
            </div>
            <!--/ Site nav inner end -->
         </div>
         <!--/ Row end -->
      </div>
      <!--/ Container end -->
   </header>
   <!--/ Header end -->

   <section id="banner">
      <div class="banner-item bg-overlay" style="background-image:url('{{ wss.main_image_url }}')">
         <div class="container">
            <div class="banner-content text-center">
               <div class="banner-content-wrap">
                  <div class="countdown bg-style">
                     <div class="counter-day">
                        <span class="days">00</span>
                        <div class="smalltext">Days</div>
                     </div>
                     <div class="counter-hour">
                        <span class="hours">00</span>
                        <div class="smalltext">Hours</div>
                     </div>
                     <div class="counter-minute">
                        <span class="minutes">00</span>
                        <div class="smalltext">Minutes</div>
                     </div>
                     <div class="counter-second">
                        <span class="seconds">00</span>
                        <div class="smalltext">Seconds</div>
                     </div>
                  </div>
                  <!-- Countdown end -->
                  <h1 class="banner-title">WINTER SEMINAR SERIES</h1>
                  <h2 class="banner-subtitle2">ADVANCED TOPICS IN COMPUTER SCIENCE AND ENGINEERING</h2>

                  <input type="hidden" value="{% date_string wss.start_date %}" id="start-date">
                  <h2 class="banner-subtitle">{% render_date wss %}</h2>
                  <h3 class="banner-desc">IRAN, TEHRAN, SHARIF UNIVERSITY OF TECHNOLOGY</h3>
                  {% if wss.is_active %}
                     {% if wss.registration_link %}
                     <p class="banner-btn">
                        <a href="{{ wss.registration_link }}" class="btn btn-primary">Register Now</a>
                     </p>
                     {% endif %}
                  {% endif %}
               </div>
               <!-- Banner content wrap end -->
            </div>
            <!-- Banner content end -->
         </div>
         <!-- Container end -->
      </div>
      <!-- Banner item end -->
   </section>
   <!-- Section banner end -->

   <section id="ts-intro" class="ts-intro no-padding">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
               <h2 class="intro-title">About the Event</h2>
               <p class="intro-desc">{{ wss.description }}</p>
               {% if wss.is_active %}
                  <p>
                     {% if wss.registration_link %}
                     <a href="{{ wss.registration_link }}" class="btn btn-primary">Register now</a>
                     {% endif %}
                     {% if wss.proposal_link %}
                     <a href="{{ wss.proposal_link }}" class="btn btn-primary">Submit your proposal</a>
                     {% endif %}
                  </p>
               {% else %}
                  <h2 class="intro-title">This is not the last WSS!</h2>
                  <a href="{% url 'wss:home' %}" class="btn btn-primary">Visit the last seminar page</a>
               {% endif %}
            </div>

            {% if wss.main_clip_url %}
            <div class="col-xs-12 col-sm-12 col-md-6">
               <div class="intro-video">
                  <video controls class="embed-responsive-item" src="{{ wss.main_clip_url }}">
                  </video>
               </div>
            {% endif %}

            <!-- Col end -->
            </div>
         <!-- Content row 1 end -->
         </div>
      </div>
      <!-- Container end -->
   </section>
   <!-- Intro area end -->

   <section id="ts-statics" class="ts-statics">
      <div class="container">
         <div class="row">
            <div class="statics clearfix">
               <div class="col-md-3 col-xs-12 text-center">
                  <a data-scroll href="#ts-speakers"><div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="{% static 'images/icons/fact-speaker.png' %}" alt="" />
                        </span>
                     <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">{{ wss.seminars.count }}</span></h2>
                        <h3 class="ts-facts-title">Seminars</h3>
                     </div>
                  </div></a>
                  <!--Facts end -->
               </div>
               <!-- Col end -->

               <div class="col-md-3 col-xs-12 text-center">
                  <a data-scroll href="{% url 'wss:workshops-list' wss.year %}"><div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="{% static 'images/icons/fact-workshop.png' %}" alt="" />
                        </span>
                     <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">{{ wss.workshops.count }}</span></h2>
                        <h3 class="ts-facts-title">Workshops</h3>
                     </div>
                  </div></a>
                  <!--Facts end -->
               </div>
               <div class="col-md-3 col-xs-12 text-center">
                  <a data-scroll href="#ts-sponsors"><div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="{% static 'images/icons/fact-sponsor.png' %}" alt="" />
                        </span>
                     <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">{{ wss.sponsorships.count }}</span></h2>
                        <h3 class="ts-facts-title">Sponsors</h3>
                     </div>
                  </div></a>
                  <!--Facts end -->
               </div>
               <!-- Col end -->
               <div class="col-md-3 col-xs-12 text-center">
                 <a data-scroll href="{% url 'wss:staff-list' wss.year %}"> <div class="ts-facts">
                        <span class="ts-facts-img">
                        <img src="{% static 'images/icons/fact-country.png' %}" alt="Staff" />
                        </span>
                     <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp">{{ wss.staff_count }}</span></h2>
                        <h3 class="ts-facts-title">Staff</h3>
                     </div>
                  </div></a>
                  <!--Facts end -->
               </div>
               <!-- Col end -->
            </div>
            <!-- Statics end -->
         </div>
         <!-- Row end -->
      </div>
      <!--/ Container end -->
   </section>
   <!--/ Newsletter end -->

   <section id="ts-speakers" class="ts-speakers gradient-bg">
   <div class="container">
   <div class="row text-center">
   <h2 class="section-title">About the seminar series</h2>
   <h3 class="section-sub-title title-white">Keynote Speakers</h3>
   </div>

   <!--/ Title row end -->
   <div class="row">

      {% for seminar in wss.keynote_seminars %}
      <div class="col-xs-12 col-sm-6 col-md-3">
         {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
      </div>
      {% endfor %}

   </div>
   <br>
   <div class="row text-center">
   <h3 class="section-sub-title title-white">Speakers</h3>
   </div>
      {% for seminar in selected_seminars %}
          <div class="col-xs-12 col-sm-6 col-md-3">
         {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
          </div>
      {% endfor %}
   </div>

   <div class="row">
   <div class="general-btn text-center">
   <a class="btn btn-primary" href="{% url 'wss:seminars-list' wss.year %}">View More</a>
   </div>
   </div>


   <!-- Content row 2 end -->

   <!--/ Container end -->
   </section>
   <!-- Speakers end -->

   <!--<section id="ts-schedule" class="ts-schedule">-->
   <!--<div class="container">-->
   <!--<div class="row text-center">-->
   <!--<h2 class="section-title">Don't Miss a Thing</h2>-->
   <!--<h3 class="section-sub-title">Event Programme</h3>-->
   <!--</div>-->
   <!--&lt;!&ndash;/ Title row end &ndash;&gt;-->
   <!--<div class="row">-->
   <!--<div class="col-md-12">-->
   <!--<div class="schedule-tab">-->
   <!--<ul class="nav nav-tabs" id="nav-tabs">-->
   <!--<li class="active">-->
   <!--<a class="animated fadeIn" href="#tab_one" data-toggle="tab">-->
   <!--<span class="tab-head">-->
   <!--<span class="tab-text-title">Day One</span>					-->
   <!--</span>-->
   <!--</a>-->
   <!--</li>-->
   <!--<li>-->
   <!--<a class="animated fadeIn" href="#tab_two" data-toggle="tab">-->
   <!--<span class="tab-head">-->
   <!--<span class="tab-text-title">Day Two</span>					-->
   <!--</span>-->
   <!--</a>-->
   <!--</li>-->
   <!--<li>-->
   <!--<a class="animated fadeIn" href="#tab_three" data-toggle="tab">-->
   <!--<span class="tab-head">-->
   <!--<span class="tab-text-title">Day Three</span>					-->
   <!--</span>-->
   <!--</a>-->
   <!--</li>-->
   <!--</ul>-->
   <!--<div class="tab-content">-->
   <!--<div class="tab-pane active animated fadeInRight" id="tab_one">-->
   <!--<h2 class="schedule-date">Sunday, 7th March</h2>-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">9:30 - 10:00</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-title">Registration</h3>-->
   <!--<p class="schedule-slot-desc">Pick up your name badge and goodie bag</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 1 end &ndash;&gt;-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">10:30 - 11:15AM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker1.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Edward C. Horner</h3>-->
   <!--<h4 class="schedule-slot-title">Reinventing Experiences to All</h4>-->
   <!--<p class="schedule-slot-desc">Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 2 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">11:15 - 13:15PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker5.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Summer Cross</h3>-->
   <!--<h4 class="schedule-slot-title">Human Centered Design </h4>-->
   <!--<p class="schedule-slot-desc">Minim Austin 3 wolf moon scenester aesthetic, umami odio pariatur bitters. Pop-up occaecat taxidermy street art, tattooed beard literally.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 3 end &ndash;&gt;-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">13:30 - 14:30PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-title">Lunch</h3>-->
   <!--<p class="schedule-slot-desc">Five star buffet for everybody.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 4 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">14:35 - 16:00PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker3.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Laura Bryant</h3>-->
   <!--<h4 class="schedule-slot-title">A frontier for designers: cultures of creativity</h4>-->
   <!--<p class="schedule-slot-desc">Plaid fashion axe semiotics skateboard, try-hard food truck aesthetic biodiesel exercitation. Accusamus VHS Wes Anderson Banksy food truck vero.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 5 end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Tab pane 1 end &ndash;&gt;-->
   <!--<div class="tab-pane animated fadeInRight" id="tab_two">-->
   <!--<h2 class="schedule-date">Monday, 8th March</h2>-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">09:30 - 11:15AM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker4.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Avdei Ignatyev</h3>-->
   <!--<h4 class="schedule-slot-title">Getting Started With User-Centered Content</h4>-->
   <!--<p class="schedule-slot-desc">Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 1 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">11:15 - 13:15PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker7.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Eden Nivison</h3>-->
   <!--<h4 class="schedule-slot-title">Content Measurement and Analytics</h4>-->
   <!--<p class="schedule-slot-desc">Minim Austin 3 wolf moon scenester aesthetic, umami odio pariatur bitters. Pop-up occaecat taxidermy street art, tattooed beard literally.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 2 end &ndash;&gt;-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">13:30 - 14:30PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-title">Lunch</h3>-->
   <!--<p class="schedule-slot-desc">Five star buffet for everybody.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 3 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">14:35 - 16:00PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker8.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Davi Azevedo</h3>-->
   <!--<h4 class="schedule-slot-title">Not Perfect, Always Better: A Story of Inclusion</h4>-->
   <!--<p class="schedule-slot-desc">Plaid fashion axe semiotics skateboard, try-hard food truck aesthetic biodiesel exercitation. Accusamus VHS Wes Anderson Banksy food truck vero.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 4 end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Tab pane 2 end &ndash;&gt;-->
   <!--<div class="tab-pane animated fadeInLeft" id="tab_three">-->
   <!--<h2 class="schedule-date">Tuesday, 9th March</h2>-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">09:30 - 11:15AM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker2.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Yue Ying Yüan</h3>-->
   <!--<h4 class="schedule-slot-title">How Silos Learn: Working in the Idea Factory</h4>-->
   <!--<p class="schedule-slot-desc">Throw myself down teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 1 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">11:15 - 13:15PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker3.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Laura Bryant</h3>-->
   <!--<h4 class="schedule-slot-title">Empathy Behind the Algorithms</h4>-->
   <!--<p class="schedule-slot-desc">Minim Austin 3 wolf moon scenester aesthetic, umami odio pariatur bitters. Pop-up occaecat taxidermy street art, tattooed beard literally.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 2 end &ndash;&gt;-->
   <!--<div class="schedule-listing">-->
   <!--<span class="schedule-slot-time">13:30 - 14:30PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-title">Lunch</h3>-->
   <!--<p class="schedule-slot-desc">Five star buffet for everybody.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 3 end &ndash;&gt;-->
   <!--<div class="schedule-listing bg">-->
   <!--<span class="schedule-slot-time">14:35 - 16:00PM</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<a href="#">-->
   <!--<img class="schedule-slot-speakers" src="images/speakers/speaker6.jpg" alt="" />-->
   <!--</a>-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-speaker-name">Oscar Watkins</h3>-->
   <!--<h4 class="schedule-slot-title">Adaptive Content, Context, and Controversy</h4>-->
   <!--<p class="schedule-slot-desc">Plaid fashion axe semiotics skateboard, try-hard food truck aesthetic biodiesel exercitation. Accusamus VHS Wes Anderson Banksy food truck vero.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 4 end &ndash;&gt;-->
   <!--<div class="schedule-listing listing-last">-->
   <!--<span class="schedule-slot-time">16:30 - Late</span>-->
   <!--<div class="schedule-slot-info">-->
   <!--<div class="schedule-slot-info-content">-->
   <!--<h3 class="schedule-slot-title">After Party</h3>-->
   <!--<p class="schedule-slot-desc">Stick around and enjoy a dazzling after work.</p>-->
   <!--</div>-->
   <!--&lt;!&ndash;Info content end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot info end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Slot listing 5 end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Tab pane 3 end &ndash;&gt;	-->
   <!--</div>-->
   <!--&lt;!&ndash; tab content &ndash;&gt;-->
   <!--<div class="gap-60"></div>-->
   <!--<div class="text-center"><a class="btn btn-primary" href="#"><i class="fa fa-file-pdf-o"></i> Download PDF</a></div>-->
   <!--</div>-->
   <!--&lt;!&ndash; Schedule tab end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Col end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash; Content row end &ndash;&gt;-->
   <!--</div>-->
   <!--&lt;!&ndash;/ Container end &ndash;&gt;-->
   <!--</section>-->
   <!--&lt;!&ndash; Schedule end &ndash;&gt;-->

   <section id="ts-sponsors" class="ts-sponsors">
       <div class="container">

         <div class="row text-center">
            <p class="section-sub-title">Event Sponsors</p>
         </div>

         <div class="row sponsor-padding text-center">

             <h3 class="sponsor-title">Main Sponsors</h3>

             {% for sponsorship in wss.main_sponsorships %}

                 <div class="col-xs-12 col-sm-4 col-md-4">

                     <a href="{{ sponsorship.sponsor.url }}" class="sponsor-logo">

                         <img class="img-responsive" src="{{ sponsorship.logo_url }}" alt=""/>

                     </a>

                    <h3 class="text-center"> {{ sponsorship.sponsor.name }}</h3>

                 </div>

             {% endfor %}

         </div>
         <div class="row text-center">

             <h3 class="sponsor-title">Other Sponsors</h3>
             {% for sponsorship in wss.not_main_sponsorships %}

                 <div class="col-xs-12 col-sm-4 col-md-4">

                     <a href="{{ sponsorship.sponsor.url }}" class="sponsor-logo">

                         <img class="img-responsive" src="{{ sponsorship.sponsor.logo_url }}" alt=""/>

                     </a>

                 </div>

             {% endfor %}

         </div>
        </div>
    </section>

   <section class="venu-map no-padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
            <div class="bottom-contact white">
               <h4 class="white">Organizer info</h4>
                  <p>The event is held by the <a href="http://ssc.ce.sharif.edu">Student Scientific
                  Chapter (SSC)</a> of <a href="http://ce.sharif.edu">Computer Engineering Department</a>
                  of <a href="http://sharif.edu">Sharif University of Technology</a>
               </p>
               <br>
               <h4 class="white">Venue Details</h4>
               <div class="contact-info">
                  <div class="contact-info-box">
                     <i class="fa fa-map-marker">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Address: </h5>
                        <p>Sharif University of Technology, Azadi Street, District 2, Tehran, Iran</p>
                     </div>
                  </div>
                  <div class="contact-info-box">
                     <i class="fa fa-envelope-o">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Email: </h5>
                        <p>ssc@ce.sharif.edu</p>
                     </div>
                  </div>
                  <div class="contact-info-box">
                     <i class="fa fa-phone">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Phone: </h5>
                        <p>+98(021) 66 16 57 81</p>
                     </div>
                  </div>
               </div>
               <!-- Contact info end -->
            </div>
            <!-- Contact form div end -->
         </div>
         <!-- Col end -->
         <div class="col-md-6">
            <div id="map" class="map-bottom"></div>
            <!-- Google Map -->
         </div>
         <!-- Col end -->
      </div>
      <!-- Content row end -->
   </div>
   <!-- Container end -->
</section>
<!-- Map end -->
{% endblock %}