<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="../signup/" method="post">
    <label for="name_family">Your name: </label>
    <input id="name_family" type="text" name="name_family" value="{{ current_name }}">
    <input id="email" type="text" name="email" value="{{ current_name }}">
    <input id="phone_number" type="text" name="phone_number" value="{{ current_name }}">
    <input id="job" type="text" name="job" value="{{ current_name }}">
    <input id="university" type="text" name="university" value="{{ current_name }}">
    <input id="introduction_method" type="text" name="introduction_method" value="{{ current_name }}">
    <input id="gender" type="text" name="gender" value="{{ current_name }}">
    <input id="grade" type="text" name="grade" value="{{ current_name }}">
    <input id="is_student" type="text"  name="is_student" value="{{ current_name }}">
    <input id="city" type="text" name="city" value="{{ current_name }}">
    <input id="country" type="text" name="country" value="{{ current_name }}">
    <input id="interests" type="text" name="interests" value="{{ current_name }}">
    <input type="submit" value="OK0">
</form>
</body>
</html>