{% extends 'wssbase.html' %}
{% load static %}
{% load thumbnail %}
{% load human_tags %}
{% load crispy_forms_tags %}

{% block title %}Registration {% endblock %}

{% block content %}
    <section id="main-container" class="blue-gradient diagonal ">
        <div class="container">
            <div class="row mb-5">
                <h3 class="mb-1 col section-sub-title title-white">Registration</h3>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                  <strong>{{ error }} </strong>
                </div>
            {% endif %}

                <form action="{% url 'wss:payment' wss.year %}" method="post" class="uniForm">
                    {{ form | crispy }}
                    <input type="submit" value="Submit">
                </form>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $("#div_id_interests .form-check, #div_id_workshops .form-check").addClass("");
        $(".form-check").addClass("pretty p-default p-round");
        $(".form-check label").css("display","inline").wrap("<div class='state p-primary ml-2'></div>")
    </script>
{% endblock %}