{% extends 'wssbase.html' %}
{% load date_tags %}

{% block content %}

	<section id="main-container" class="main-container" style="padding: 40px 0 0 0">
        {% if wss.calendar_link %}
            <div class="schedule-content">
                <div class="container mt-0">
                    <div class="diagonal">
                        <div class="row d-flex justify-content-center">
                            <p><a role="button" href="{{ wss.calendar_link }}" class="btn btn-blue">Add Events to
                                Calendar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
		{% if pre_wss_events.count %}
		<div class="diagonal schedule-content pattern-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
                        <h3 class="section-sub-title">Pre-{{ wss }} Events</h3>
						<div class="schedule-listing">
						{% for event in pre_wss_events %}

							<span class="schedule-slot-time">
								{{event.start_time.date }}<br>{% time_string event.start_time %} - {% time_string event.end_time %}
							</span>
							<div class="schedule-slot-info">

								<div class="schedule-slot-info-content">
									<h3 class="schedule-slot-speaker-name">{{ event.speaker }}</h3>
									{% if event.seminar %}
										<a href="{% url 'events:seminar' event.pk %}">
									{% elif event.workshop %}
										<a href="{% url 'events:workshop' event.pk %}">
									{% endif %}
									<h3 class="schedule-slot-title">{{ event.title }}</h3>
									{% if event.seminar %}
										</a>
									{% elif event.workshop %}
										</a>
									{% endif %}
									{% if event.venue %}
										<span class="schedule-slot-desc" data-toggle="tooltip" title="{{ event.venue.address }}">{{ event.venue }}</span>
									{% endif %}

								</div><!--Info content end -->

							</div><!-- Slot info end -->

							{% if not forloop.last %}
							<br><br>
							{% endif %}
						{% endfor %}
						</div><!-- Slot listing 1 end -->

					</div><!-- Col end -->
				</div><!-- Content row 1 end -->
			</div><!-- Container 2 end -->
            <div class="gap-60"></div>
		</div><!-- schedule-content 1 end -->

		{% endif %}
		<div class="gap-60"></div>
        <div class="diagonal schedule-content">
            <div class="container">
                    <h3 class="section-sub-title">{{ wss }} Schedule</h3>
            </div><!-- Container 1 end -->
        </div>
		{% for day, events_by_time in events_by_day %}
			<div class="diagonal schedule-content {% if forloop.counter|divisibleby:2 %} pattern-bg {% endif %}">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<h2 class="schedule-date">Day {{ forloop.counter }} / {% date_string day %}</h2>

							{% for _, events in events_by_time %}

								<div class="schedule-listing {% if forloop.counter|divisibleby:2 %} bg {% endif %}">
								{% for event in events %}

									{% if forloop.counter == 1 %}
										{% if day %}
											<span class="schedule-slot-time">{% time_string event.start_time %} - {% time_string event.end_time %}</span>
										{% endif %}
										<div class="schedule-slot-info">
									{% endif %}

											<div class="schedule-slot-info-content">
												<h3 class="schedule-slot-speaker-name">{{ event.speaker }}</h3>
												{% if event.seminar %}
													<a href="{% url 'events:seminar' event.pk %}">
												{% elif event.workshop %}
													<a href="{% url 'events:workshop' event.pk %}">
												{% endif %}
												<h3 class="schedule-slot-title">{{ event.title }}</h3>
												{% if event.seminar %}
													</a>
												{% elif event.workshop %}
													</a>
												{% endif %}
												{% if event.venue %}
													<span class="schedule-slot-desc" data-toggle="tooltip" title="{{ event.venue.address }}">{{ event.venue }}</span>
												{% endif %}

											</div><!--Info content end -->

									{% if not forloop.last %}
									<br>
									{% endif %}

								{% endfor %}
								</div><!-- Slot info end -->

								</div><!-- Slot listing 1 end -->


							{% endfor %}

						</div><!-- Col end -->
					</div><!-- Content row 1 end -->
				</div><!-- Container 2 end -->
				<div class="gap-60"></div>
			</div><!-- schedule-content 1 end -->

		{% empty %}
            <div class="diagonal schedule-content">
                <div class="row text-center">
                    <h3 class="schedule-date mx-auto">TBD</h3>
                </div>
            </div>
		{% endfor %}

	</section><!-- Main container end -->

{% endblock %}