{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ wss }} speakers{% endblock %}
{% block content %}
   <section id="ts-speakers" style="" class="blue-gradient ts-speakers diagonal ">
      <div>
      <div class="container">
         <div class="row">
            {% if wss.keynote_seminars.count %}
            <h3 class="mb-1 col section-sub-title title-white">Keynote Speakers</h3>
            {% endif %}
         </div>

         <!--/ Title row end -->
         <div class="row">
            {% for seminar in wss.keynote_seminars %}
            <div class="col-xs-12 col-sm-6 col-lg-3">
               {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
            </div>
            {% endfor %}
         </div>
         <br>

         <div class="row">
            <h3 class="mb-1 col section-sub-title title-white">Speakers</h3>
         </div>
         <div class="row">

            {% for seminar in wss.non_keynote_seminars %}
         <div class="col-xs-12 col-sm-6 col-lg-3">
            {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
         </div>
            {% endfor %}
         </div>
      </div>
      </div>
      <!-- Content row 2 end -->

      <!--/ Container end -->
   </section>

<!-- Map end -->
{% endblock %}