{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ wss }} staff{% endblock %}
{% block content %}
   <section id="ts-speakers" style="" class="blue-gradient ts-speakers diagonal ">
      <div>
         <div class="container">
               {% for holding_team in wss.holding_teams.all %}
               <div class="row">
                        <h2 class="mb-1 col section-sub-title title-white">{{ holding_team.name }}</h2>
                     </div>
                  <div class="row">

                     

                     {% for staff in holding_team.staff.all %}
                        <div class="col-xs-12 col-sm-6 col-md-3">
                           {% render_human staff %}
                        </div>
                     {% endfor %}

                  </div>
               {% endfor %}
            
         </div>
      </div>
      <!-- Content row 2 end -->

      <!--/ Container end -->
   </section>
{% endblock  %}