<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load date_tags %}
{% load human_tags %}

<head>
   <!-- Basic Page Needs ================================================== -->
   <meta charset="utf-8">

   <!-- Mobile Specific Metas ================================================== -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

   <!-- Site Title -->
   <title>{{ wss }}</title>

   <!--Favicon-->
   <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
   <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

   <!-- CSS ================================================== -->
   <!-- Bootstrap -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- Template styles-->
   <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.8">
   <!-- Responsive styles-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- FontAwesome -->
   <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
   <!-- Animation -->
   <link rel="stylesheet" href="{% static 'css/animate.css' %}">
   <!-- Colorbox -->
   <link rel="stylesheet" href="{% static 'css/colorbox.css' %}">

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE  9]>
   <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
   <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
   <![endif]-->

</head>

<body>
<div class="body-inner">
   <!-- Header start -->
   <header id="header" class="header">
      <div class="container">
         <div class="row">
            <div class="site-nav-inner">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
                  <ul class="nav navbar-nav">
                     <li><a href="home.html">Home</a></li>
                     <!-- Home li end -->
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu menu-center" role="menu">
                           <li><a href="about.html">Why Attend</a></li>
                           <li><a href="staffs.html">Staffs</a></li>
                           <li><a href="gallery.html">Gallery</a></li>
                           <li><a href="sponsors.html">Sponsors</a></li>
                        </ul>
                     </li>
                     <!-- About li end -->
                     <li><a href="speakers.html">Speakers</a></li>
                     <!-- Speakers li end -->
                     <li><a href="schedule.html">Schedule</a></li>
                     <!-- Schedule li end -->
                     <li><a href="contact.html">Contact</a></li>
                     <!-- Contact li end -->
                     <li class="header-ticket">
                        <a class="ticket-btn btn-primary" href="register.html"> Register</a>
                     </li>
                     <!-- Register li end -->
                  </ul>
                  <!--/ Nav ul end -->
               </nav>
               <!--/ Collapse end -->
            </div>
            <!--/ Site nav inner end -->
         </div>
         <!--/ Row end -->
      </div>
      <!--/ Container end -->
   </header>
   <!--/ Header end -->
   <section id="ts-speakers" class="ts-speakers">
      <div class="container">
         <!--/ Title row end -->
         <div class="row">
            {% for workshop in wss.workshops %}
            <div class="col-xs-12 col-sm-6 col-md-3">
               {% render_human workshop.speaker subtitle=workshop.title url=workshop.get_absolute_url %}
            </div>
            {% endfor %}
         </div>
         <br>
      <!-- Content row 2 end -->
      </div>
      <!--/ Container end -->
   </section>
   <!-- Speakers end -->
   <section class="venu-map no-padding">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6">
            <div class="bottom-contact white">
               <h4 class="white">Organizer info</h4>
                  <p>The event is held by the <a href="http://ssc.ce.sharif.edu">Student Scientific
                  Chapter (SSC)</a> of <a href="http://ce.sharif.edu">Computer Engineering Department</a>
                  of <a href="http://sharif.edu">Sharif University of Technology</a>
               </p>
               <br>
               <h4 class="white">Venue Details</h4>
               <div class="contact-info">
                  <div class="contact-info-box">
                     <i class="fa fa-map-marker">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Address: </h5>
                        <p>Sharif University of Technology, Azadi Street, Distinct 2, Tehran, Iran</p>
                     </div>
                  </div>
                  <div class="contact-info-box">
                     <i class="fa fa-envelope-o">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Email: </h5>
                        <p>ssc@ce.sharif.edu</p>
                     </div>
                  </div>
                  <div class="contact-info-box">
                     <i class="fa fa-phone">&nbsp;</i>
                     <div class="contact-info-box-content">
                        <h5 class="white">Phone: </h5>
                        <p>+98(021) 66 16 57 81</p>
                     </div>
                  </div>
               </div>
               <!-- Contact info end -->
            </div>
            <!-- Contact form div end -->
         </div>
         <!-- Col end -->
         <div class="col-md-6">
            <div id="map" class="map-bottom"></div>
            <!-- Google Map -->
         </div>
         <!-- Col end -->
      </div>
      <!-- Content row end -->
   </div>
   <!-- Container end -->
</section>
<!-- Map end -->

   <footer id="footer" class="footer text-center">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="footer-menu">
                  <ul class="nav unstyled">
                     <li><a href="#">Home</a></li>
                     <li><a href="#">Register</a></li>
                     <li><a href="#">Contact</a></li>
                  </ul>
               </div>
               <!-- Footer menu end -->
               <div class="footer-logo">
                  <img src="{% static 'images/footer-logo.png' %}" alt="footer logo" />
               </div>
               <div class="footer-social">
                  <ul>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
               <!-- Footer social end -->
               <div class="copyright-info">
                  <span>Copyright © 2015-2017 WSS. All Rights Reserved.</span>
               </div>
               <!-- Copyright info end -->
            </div>
            <!-- Content col end -->
         </div>
         <!-- Content row end -->
      </div>
      <!-- Container end -->
      <!--<div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">-->
         <!--<button class="btn btn-primary" title="Back to Top">-->
            <!--<i class="fa fa-angle-up"></i>-->
         <!--</button>-->
      <!--</div>-->
   </footer>
   <!-- Footer end -->

   <!-- Javascript Files
      ================================================== -->
   <!-- initialize jQuery Library -->
   <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
   <!-- Bootstrap jQuery -->
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- Counter -->
   <script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>
   <!-- Countdown -->
   <script type="text/javascript" src="{% static 'js/jquery.jCounter.js' %}"></script>
   <!-- Waypoints -->
   <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
   <!-- Color box for Popup-->
   <script type="text/javascript" src="{% static 'js/jquery.colorbox.js' %}"></script>
   <!-- Smoothscroll -->
   <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
   <!-- Google Map API Key-->
   <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
   <!-- Google Map Plugin-->
   <script type="text/javascript" src="{% static 'js/gmap3.js' %}"></script>
   <!-- Template custom -->
   <script type="text/javascript" src="{% static 'js/custom.js' %}?v=1"></script>

</div>
<!-- Body inner end -->
</body>
</html>