{% extends 'base.html' %}
{% load static %}
{% load human_tags %}

{% block title %}{{ wss }} workshops{% endblock %}
{% block content %}
   <section id="ts-speakers" class="ts-speakers gradient-bg">
      <div class="container">
         <div class="row text-center">
            <h3 class="section-sub-title title-white">Workshops</h3>
         </div>

         <!--/ Title row end -->
         <div class="row">
            {% for workshop in wss.workshops %}
            <div class="col-xs-12 col-sm-6 col-md-3">
               {% render_human workshop.speaker subtitle=workshop.title url=workshop.get_absolute_url %}
            </div>
            {% endfor %}
         </div>
         <br>

      <!-- Content row 2 end -->
      </div>
      <!--/ Container end -->
   </section>
   <!-- Workshops end -->
{% endblock %}